/* style for y-axis */
.axis_y text {
    font-size:16px;
}
.axis_y path,
.axis_y line {
    stroke: black;
}
.axis_x text {
    font-size:16px;
}
.axis_x path {
    stroke: black;
}
.axis_x line {
    stroke: none;
}
.lab {
    font-family: sans-serif;
    font-size:16px;
}
.lab_val {
    font-family: sans-serif;
    font-size:12px;
}
.title {
    font-family: sans-serif;
    font-size: 20px;
    text-anchor: middle;
}
.shade {
    fill: gray;
    fill-opacity: 0.5;
}
